@grey: #373737;
@lightgrey: #666;
@bgcolor: #232323;
@maincolor: #b43a34;

@sprite: url(../img/sprite.png);

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

@diameter: 0;
.border-radius(@radius: @diameter * 2) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}