@import "reset.less";
@import "helper.less";

/* GLOBAL
-------------------------------------------------------------------------- */
body {
    overflow: hidden;
    background: url(../img/bg-guitar.png) center 180px no-repeat;
    //, url(../img/bg.png) 0 0 repeat
    background-color: @bgcolor;
    font-family: 'Open Sans', arial, sans-serif;
    color: #FFF;
    line-height: 1.2em;
}

// Scroll Structure
.container {
    height: 86%;
}
.carousel {
    height: 93%;
}
.page {
    height: 100%;
}
.scroll_wrapper {
    max-height: 100%;
}
/*----------------------*/


a {
    color: #FFF;
    text-decoration: none;
    //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    //-webkit-focus-ring-color: rgba(0, 0, 0, 0);
}
.p_small {
    font-size: 0.875em; //14px
    line-height: 1.1em;
}

// Forms
.input_wrap {
    position: relative;
}
.input_field {
    width: 100%;
    height: 55px;
    .borderbox;
    padding: 4px 67px 4px 10px;
    border: 3px solid @maincolor;
    background-color: @bgcolor;
    font-size: 16px;
    color: #FFF;
}
.input_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    padding-top: 5px;
    border: none;
    background-color: @maincolor;
    text-align: center;
}


// Lists
.list {
    .row {
        display: block;
        border-bottom: 1px solid @grey;
    }
    .column {
        min-height: 55px;
        padding: 20px 10px;
    }
    .fixed {
        width: 80px;
    }
    .band_name {
        text-transform: uppercase;
        font-weight: normal;
    }
}
.list_header {
    text-transform: uppercase; 
    padding: 5px 10px;
    background-color: @maincolor;
    color: #FFF;
}


//Icons
.icon_arrow {
    display: inline-block;
    width: 8px;
    height: 12px;
    margin-right: 5px;
    background: @sprite -36px -36px transparent;
}



/* HEADER
-------------------------------------------------------------------------- */
#header {
    height: 14%;
    border-bottom: 1px solid @maincolor;
    background-color: @bgcolor;
    .heading0 {
        margin-left: 82px;
        font-size: 1.9em;
    }
    .heading1,
    .heading2 {
        padding-left: 20px;
        font-weight: normal;
    }
    .heading1 {
        font-size: 1.125em; //18px
        font-weight: normal;
        &:after {
            content: " ";
            position: absolute;
            top: 50%;
            left: 5px;
            display: block;
            width: 11px;
            height: 17px;
            margin-top: -10px;
            background: @sprite -36px 0;
        }
    }
    .heading2 {
        margin-top: 3px;
        font-size: 0.8125em;
        color: @maincolor;
    }
}
#header_link {
    padding: 9px 5px;
}
#logo {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -25px;
}
.icon_menu {
    display: inline-block;
    width: 28px;
    height: 22px;
    background: @sprite 0 0;
}



/* SWIPE BAR
-------------------------------------------------------------------------- */
.swipe_bar {
    position: relative;
    height: 7%;
    padding: 6px 0;
    background-color: @grey;
    //.box-shadow(0 6px 25px 6px rgba(0,0,0,0.6));
    text-align: center;
    .current {
        z-index: 1;
        position: relative;
        padding: 0 5px;
        background-color: @grey;
        &:after {
            content: " ";
            position: absolute;
            top: 23px;
            left: 50%;
            display: block;
            width: 49px;
            height: 7px;
            margin-left: -25px;
            background: @sprite -72px 0;
        }
    }
    .not_current {
        position: absolute;
        top: 6px;
        color: #AAA !important;
    }
    .not_current.prev {
        left: 1px;
    }
    .not_current.next {
        right: 1px;
    }
}


/* NAVS
-------------------------------------------------------------------------- */
.nav_top,
.nav_bottom {
    white-space: nowrap;
    .column {
        background-color: #2e2e2e;
    }
    .item {
        display: inline-block;
        border-right: 1px solid #555;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    .column {
        //padding: 0;
    }
}

.nav_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid @maincolor;
    /*.box-shadow(0 -6px 25px 6px rgba(0,0,0,0.8));
    .column {
        .one-quarter;
    }*/
    .column {
        padding: 0;
    }
    .item {
        display: block;
        line-height: 55px;
    }
}



/* HOME
-------------------------------------------------------------------------- */
.festival_list {
    .item {
        display: inline-block;
        width: 28%;        
        margin: 4% 2.6% 0 2.6%;
    }
    img {
        width: 100%;       
    }
}



/* SEARCH
-------------------------------------------------------------------------- */
.icon_search {
    display: inline-block;
    width: 31px;
    height: 30px;
    background: @sprite 0 -36px;
}



/* BEFORE FESTIVAL
-------------------------------------------------------------------------- */
#before_festival {
    background: @bgcolor; // esconder imagem de fundo geral
}
.before_festival_details {
    font-size: 18px;
    line-height: 24px;
}
#festival_countdown {
    position: absolute;
    display: inline-block;
    top: 185px;
    left: 44%;
    font-size: 18px;
    .last-line {
        display: block;
        text-align: right;
    }
}
#festival_countdown_days {
    display: block;
    font-size: 90px;
    line-height: 80px;
}
#before_festival_page{
    position: relative;
}
.countdown_bg {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
}
#info_button {
}

/* WEATHER
-------------------------------------------------------------------------- */
#weather_current {
    padding: 20px 0;
    .bdr_b;
}
#weather_img_current {
    display: inline-block;
    margin-right: 12px;
}
#weather_temperature_current {
    position: relative;
    bottom: 15px;
    display: inline-block;
    font-size: 2.25em;
    margin-left: 12px;
}
#weather_description_current {
    font-size: 1.5625em;
    text-align: center;
}


/* SHOWS
-------------------------------------------------------------------------- */
.show_date {
    display: block;
}


/* SHOW VIDEOS
-------------------------------------------------------------------------- */
#band_videos_page {
    .column {
        height: 80px;
        &.fixed {
            width: 100px;
            position: relative;
        }
    }
}

.icon_videoplay {
    position: absolute;
    top: 30px;
    left: 27px;
    display: inline-block;
    width: 45px;
    height: 45px;
    background: @sprite 0 -144px;
}
